@import "./_utils.scss";
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 0.6;
    transform: translateZ(20);
  }
}
// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100vw;
//   height: 100vh;
//   font-size: clamp(2rem, 2.8vw, 5rem);
//   font-family: Raleway;
//   font-weight: bold;
// }

// .typewriter {
//   font-family: "Fuzzy Bubbles", cursive;
//   width: 30ch;
//   white-space: nowrap;
//   overflow: hidden;
//   border-right: 4px solid #212121;
//   animation: cursor 1s step-start infinite, text 3s steps(18) alternate infinite;
// }

// @keyframes cursor {
//   0%,
//   100% {
//     border-color: #212121;
//   }
// }

// @keyframes text {
//   0% {
//     width: 0;
//   }
//   100% {
//     width: 45%;
//   }
// }

.backgroundImage {
  position: relative;

  img {
    width: 100%;
    height: 52rem;
    opacity: 0.6;

    object-fit: cover;
  }
  .errand {
    .title {
      font-size: 35px;
      margin-top: 1.5rem;
    }
    background-color: white;
    opacity: 0.6;
    width: 440px;
    height: 390px;
    position: absolute;
    animation: fadeInUp 2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
      text-align: center;
    }
    .explain {
      margin-top: 5rem;
      font-size: 1.2rem;
    }
    button {
      background-color: black;
      color: white;
      width: 12rem;
      height: 3rem;
      margin-top: 2.5rem;
      &:active,
      &:hover {
        transform: scale(1.1);
      }
      a {
        color: white;
      }
    }
  }
}
.ourService {
  margin-top: rem;
  @include mobile {
    height: 70%;
  }
  .Title {
    font-size: 2.5rem;
    color: black;
    margin: 6rem;
    text-align: center;
  }
  .Service {
    @include mobile {
      width: 100%;
      height: 40%;
    }
    width: 55%;
    height: 23rem;
    background-color: white;
    border-radius: 1rem;
    margin: 2.5rem auto;
    display: flex;
    .img1 {
      height: 21rem;
      margin: 1rem;
      @include mobile {
        height: 40%;
        width: 15rem;
        margin: auto;
      }
    }
    .img2 {
      @include mobile {
        height: 65%;
        width: 15rem;
        margin: auto;
      }
      width: 24rem;
      height: 21rem;
      margin: 1rem;
      object-fit: cover;
    }
    .content {
      margin: auto auto;
      width: 14rem;
      .innerContent1 {
        @include mobile {
          font-size: 1.2rem;
        }
        font-size: 2rem;
      }
      .innerContent2 {
        @include mobile {
          font-size: 0.8rem;
        }
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
  }
  //
}
