.page_header {
    text-align: center;
    background-color: yellow;
}
.board_page {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
    text-align: center;
    margin: 10px;
    
    .left {
        background-color: chartreuse;
        display: block;
    }

    .right {
        background-color: chartreuse;
        display: block;
    }

    .center {
        background-color: cornflowerblue;
        display: block;
        
        .option {
            display: flex;
            justify-content: space-evenly;
            background-color: coral;
        }

        .board_items {
            background-color: rgba(255, 0, 0, 0.344);
        }

    .category {
        background-color: blueviolet;
        display: flex;
        flex-direction: row-reverse;
        margin: 5px;
        font-size: 13px;
        outline: none;

        .category_items{
            display: flex;
            justify-content: space-between;
        }
    }

    }
}

