.modal-header .btn-close {
  background-color: black;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 5px;
}

.address_btn_search.btn.btn-primary {
  background-color: black;
  color: white;
  height: 40px;
  width: 70px;
  border-radius: 10px;
}
