.Header {
    display: flex;
    width: 50%;
    margin: 1rem auto;

    div {
        margin: 0 auto;
        border: none;
        background-color: white;
        padding: 2px 2.7rem;
        border-radius: 1rem;
        &:hover {
            scale: 1.1;
            transition: 0.5s;
            color: black;
        }
    }
}
