@import "./utils.scss";

.MyPage {
  width: 100%;
  height: 100vh;
  .my-write-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .myWrite {
      width: 45%;
      height: 70vh;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      padding: 3rem;
      overflow-y: scroll;
      border-radius: $bor-radius;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        color: #00b4d8;
      }
      table {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border-collapse: collapse;
        tr {
          height: 50px;
          &:hover,
          &:active {
            background-color: #e4dcdc;
          }
        }
        th,
        td {
          padding: 1rem;
          border-bottom: 1px solid gray;
          text-align: left;
        }
      }
    }
  }
}
