@import "./_utils.scss";
$font-size: 17px;
body {
  font-family: sans-serif;
}
.signup-container {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  .signup-contents {
    min-width: 350px;
    width: 25vw;
    height: 70vh;
    border-radius: 0.8vw;
    overflow: hidden;
    background-color: white;
    @include mobile {
      height: 75vh;
    }
    h2 {
      margin: 1.2rem;
    }
    > div {
      margin: 2rem 1.2rem;
      .label-before {
        line-height: 20px;
        font-size: 12px;
        top: -10px;
        background: #fff;
        padding: 0 6px;
        left: 9px;
      }
      .field {
        position: relative;
        margin: 15px 0;
        text-align: center;
        button {
          background-color: black;
          color: white;
          width: 20%;
          margin-left: 7%;

          &:hover,
          &:active {
            opacity: 0.8;
          }
        }
        label::before {
          content: attr(title);
          position: absolute;
          top: 0;
          left: 15px;
          line-height: 40px;
          font-size: 14px;
          color: #777;
          transition: 300ms all;
        }
        label::after {
          content: button;
          content: div;
        }

        input {
          width: 70%;
          line-height: 40px;
          padding: 0 15px;
          box-sizing: border-box;
          font-size: 14px;
          color: #222;
          border: 1px solid #ccc;
          border-radius: 3px;
          &:focus {
            outline: 0;
            border-color: blue;
          }
          &:valid + label::before {
            @extend .label-before;
            content: attr(data-title);
          }
          &:focus + label::before {
            @extend .label-before;
            color: blue;
          }
        }
        div {
          width: 90%;
          font-size: 2px;
          color: red;
          text-align: left;
          margin: 0 auto;
        }
      }
      .passwordField {
        position: relative;
        margin: 15px 0;
        text-align: center;
        label::before {
          content: attr(title);
          position: absolute;
          top: 0;
          left: 15px;
          line-height: 40px;
          font-size: 14px;
          color: #777;
          transition: 300ms all;
        }
        input {
          width: 70%;
          line-height: 40px;
          padding: 0 15px;
          box-sizing: border-box;
          font-size: 14px;
          color: #222;
          border: 1px solid #ccc;
          border-radius: 3px;
          margin-right: 27%;
          &:focus {
            outline: 0;
            border-color: blue;
          }
          &:valid + label::before {
            @extend .label-before;
            content: attr(data-title);
          }
          &:focus + label::before {
            @extend .label-before;
            color: blue;
          }
        }
      }

      //버튼
      .button-container {
        text-align: center;
        button {
          margin-top: 0.2rem;
          background-color: black;
          color: white;
          width: 100%;
          padding: 0.8rem;
          &:hover,
          &:active {
            opacity: 0.8;
          }
        }
      }
      .select {
        padding: 15px 30px;
        text-align: center;
      }
      .select input[type="radio"] {
        display: none;
      }
      .select input[type="radio"] + label {
        display: inline-block;
        cursor: pointer;
        height: 24px;
        width: 90px;
        border: 1px solid #333;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
      }
      .select input[type="radio"] + label {
        background-color: #fff;
        color: #333;
      }
      .select input[type="radio"]:checked + label {
        background-color: #333;
        color: #fff;
      }
      .goLogin {
        text-align: center;
        p {
          margin-top: 0.5rem;
          font-size: 11px;
        }
        a {
          margin-top: 0.5rem;
          font-size: 11px;
          font-weight: bold;
          color: red;
          text-decoration: underline;
        }
      }
    }
  }
  .hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
  }
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }
}

.kakaoSignup {
  border-width: 0px;
  width: 96%;
  color: white;
  &:hover,
  &:active {
    opacity: 0.8;
  }
  img {
    width: 104%;
    height: 3rem;
    object-fit: cover;
    margin-right: 1rem;
  }
  button {
    width: 100% !important;
  }
}
