@import "./utils.scss";

.WritePage {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 100vh;

  // @include mobile {
  //   grid-template-columns: 1fr 100fr 1fr;
  // }

  .WritePage-Center {
    display: flex;
    justify-content: center;

    .Write_border_box {
      box-sizing: border-box;
      border: 2px solid black;
      border-radius: 10px;
      margin-top: 3rem;
      width: 700px;
      height: 800px;
      box-shadow: 1px 0 7px 0px black;

      .form-userid {
        display: flex;
        margin: 2rem;
        align-items: center;

        .userid_text {
          margin-left: 14px;
          border: 2px solid black;
        }
      }

      .form-title {
        display: flex;
        margin: 2rem;
        width: 300px;
        justify-content: space-between;
      }

      .form-input {
        border: 2px solid black;

        &:focus {
          outline: none !important;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
        @include mobile {
          margin-right: 7rem;
        }
      }

      .form-text {
        display: flex;
        margin: 2rem;
        width: 600px;
      }

      .form-textarea {
        width: 80%;
        margin: 0 auto;
        height: 200px;
        border: 2px solid black;
        resize: none;

        &:focus {
          outline: none !important;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
        @include mobile {
          font-size: 0.8rem;
          width: 60%;
          margin-left: 2rem;
        }
      }

      .form-deadline {
        display: flex;
        margin: 2rem;
      }

      .form-date {
        margin-left: 10px;
      }

      .form-address {
        display: flex;
        margin-left: 2rem;
      }

      .address_name {
        display: flex;
        margin-left: 10px;
        align-items: center;
      }

      .submit-form {
        display: flex;
        margin-right: 2rem;
        flex-direction: row-reverse;
        @include mobile {
          display: block;
        }
      }

      .page-submit {
        border: none;
        margin: 1rem;
        margin-top: 2rem;
      }

      .form-address-btn {
        border: none;
        margin-left: 1.5rem;
      }

      .address_title {
        border: 2px solid black;
        &:focus {
          outline: none !important;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
        @include mobile {
          width: 40%;
        }
      }

      .detail_address {
        margin-left: 200px;
        display: flex;
      }

      .detail_address_text {
        margin-left: 10px;
        width: 400px;
        border: 2px solid black;

        &:focus {
          outline: none !important;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
        @include mobile {
          width: 50%;
        }
      }

      .form-date {
        border: 2px solid black;

        &:focus {
          outline: none !important;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
      }

      .detail_date {
        margin-left: 2rem;
        display: flex;
      }

      .detail_date_text {
        margin-left: 10px;
        width: 400px;
        border: 2px solid black;

        &:focus {
          outline: none;
          border-color: #e9af7d;
          box-shadow: 0 0 10px #e9af7d;
        }
      }
    }
  }
}
